.block_stash_item {
    border: 1px solid black;
    display: inline-block;
    height: 200px;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: top;
    /*position: relative;*/
}

.block_stash_edit {

}

.block_stash_quantity {
    border: 1px solid black;
    border-radius: 4px;
    background: #FFFFFF;
    z-index: 1;
    width: 50px;
    padding-left: 5px;
    position: relative;
    top: 200px;
}

/** Stash item. */
.block-stash-item {
    display: inline-block;
}

.block-stash-item .item-image {
    background-position: center center;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
}

.block-stash-item .item-image .item-label,
.block-stash-item .item-image .item-quantity {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 11px;
    text-align: right;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    box-sizing: border-box;
}

.block-stash-item .item-image .item-quantity {
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
    text-align: left;
}

/** Actions (used in drops). */
.block-stash-item .item-action {
    margin: 5px 0 0;
    text-align: center;
}

.block-stash-item .item-action button {
    margin: 0;
}

/** Small item. */
.block-stash-item.item-small .item-image {
    width: 50px;
    height: 50px;
}

.block-stash-item.item-small .item-image .item-label {
    display: none;
}

.block-stash-item.item-small .item-image .item-quantity {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
}

.block-stash-item.item-small:hover .item-label {
    display: block;
    bottom: -22px;
    background-color: black;
    width: 90px;
    max-width: none;
    text-align: center;
    border-radius: 5px;
    padding: 0 5px;
    right: auto;
    left: 0;
    left: -webkit-calc(50% - 90px / 2);
    left:    -moz-calc(50% - 90px / 2);
    left:         calc(50% - 90px / 2);
}

/** Extra small item. */
.block-stash-item.item-xsmall .item-image {
    width: 25px;
    height: 25px;
}

.block-stash-item.item-xsmall .item-label,
.block-stash-item.item-xsmall .item-quantity {
    display: none;
}

/** Quantity rules. */
.block-stash-item.item-quantity-1 .item-quantity {
    display: none;
}

/** Drops page. */
.path-blocks-stash .dropstable .block-stash-item {
    float: left;
    margin-right: 5px;
}
.path-blocks-stash .dropstable td {
    line-height: 25px;
}
