{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Main content for the block Stash

    Classes required for JS:
    * -

    Data attributes required for JS:
    * -

    Context variables required for this template:
    * -
}}

<div id="stash-area-{{id}}" data-id="{{id}}">
{{#canacquireitems}}
    <div class="item-list">
        {{#items}}
            {{>block_stash/user_item}}
        {{/items}}
        {{^items}}
            <div class="empty-content alert alert-info">{{#str}}yourinventoryisempty, block_stash{{/str}}</div>
        {{/items}}
    </div>
{{/canacquireitems}}

{{#canmanage}}
    <nav>
        <a href="{{reporturl}}" class="nav-button">
            <div>{{#pix}}i/report{{/pix}}</div>
            <div>{{#str}}report, block_stash{{/str}}</div>
        </a>
        <a href="{{inventoryurl}}" class="nav-button">
            <div>{{#pix}}i/settings{{/pix}}</div>
            <div>{{#str}}setup, block_stash{{/str}}</div>
        </a>
    </nav>
{{/canmanage}}
</div>

{{#js}}
require([
    'jquery',
    'block_stash/stash-area'
], function($, StashArea) {
    var Area = new StashArea('#stash-area-{{id}}');
});
{{/js}}
